body {
	background-color: black;
}

h1 {
	font-family: sans-serif;
	color: white;
	text-align: center;
	float: left;
}

img {
	display: inline-block;
	float: left;	
}

.welcome {
	margin-bottom: 10px;
	overflow: hidden;
}


.orange {
	width: 200px;
    height: 200px;
    border-radius: 50%;
    background: orange;
    margin: 20px;
    display: inline-block;
}

